API without record path [{'xxx':xxx,...}]

In [ ]:
import requests  # Import the requests library

url = ('https://api.data.gov.hk/v2/filter?q=%7B%22resource%22%3A%22http%3A%2F%2Fwww.rvd.gov.hk%2Fdoc%2Fen%2Fstatistics%2Fhis_data_12.xls%22%2C%22section%22%3A1%2C%22format%22%3A%22json%22%2C%22filters%22%3A%5B%5B1%2C%22bw%22%2C%5B%221997%22%5D%5D%5D%7D')
print(url)

response = requests.get(url)  # Make a GET request to the URL

https://api.data.gov.hk/v2/filter?q=%7B%22resource%22%3A%22http%3A%2F%2Fwww.rvd.gov.hk%2Fdoc%2Fen%2Fstatistics%2Fhis_data_12.xls%22%2C%22section%22%3A1%2C%22format%22%3A%22json%22%2C%22filters%22%3A%5B%5B1%2C%22bw%22%2C%5B%221997%22%5D%5D%5D%7D

In [ ]:
# Print status code (and associated text)
print(f"Request returned {response.status_code} : '{response.reason}'")

Request returned 200 : 'OK'

In [ ]:
# Print data returned (parsing as JSON)
payload = response.json()  # Parse `response.text` into JSON

import pprint
pp = pprint.PrettyPrinter(indent=1)
pp.pprint(payload)
print(url)

[{'售價 Prices': 150.8, '年 Year': '1997', '月 Month': '1', '租金 Rents': 119.3},
 {'售價 Prices': 156.2, '年 Year': '1997', '月 Month': '2', '租金 Rents': 123.5},
 {'售價 Prices': 168, '年 Year': '1997', '月 Month': '3', '租金 Rents': 120.5},
 {'售價 Prices': 170.7, '年 Year': '1997', '月 Month': '4', '租金 Rents': 123},
 {'售價 Prices': 182.9, '年 Year': '1997', '月 Month': '5', '租金 Rents': 122.9},
 {'售價 Prices': 180, '年 Year': '1997', '月 Month': '6', '租金 Rents': 126.8},
 {'售價 Prices': 181.7, '年 Year': '1997', '月 Month': '7', '租金 Rents': 124.2},
 {'售價 Prices': 195.9, '年 Year': '1997', '月 Month': '8', '租金 Rents': 125.2},
 {'售價 Prices': 202.6, '年 Year': '1997', '月 Month': '9', '租金 Rents': 124.5},
 {'售價 Prices': 192.2, '年 Year': '1997', '月 Month': '10', '租金 Rents': 123.5},
 {'售價 Prices': 181.1, '年 Year': '1997', '月 Month': '11', '租金 Rents': 123.7},
 {'售價 Prices': 165.3, '年 Year': '1997', '月 Month': '12', '租金 Rents': 125.2}]
https://api.data.gov.hk/v2/filter?q=%7B%22resource%22%3A%22http%3A%2F%2Fwww.rvd.gov.hk%2Fdoc%2Fen%2Fstatistics%2Fhis_data_12.xls%22%2C%22section%22%3A1%2C%22format%22%3A%22json%22%2C%22filters%22%3A%5B%5B1%2C%22bw%22%2C%5B%221997%22%5D%5D%5D%7D

In [ ]:
pd.json_normalize(payload,max_level=1)

   年 Year 月 Month  租金 Rents  售價 Prices
0    1997       1     119.3      150.8
1    1997       2     123.5      156.2
2    1997       3     120.5      168.0
3    1997       4     123.0      170.7
4    1997       5     122.9      182.9
5    1997       6     126.8      180.0
6    1997       7     124.2      181.7
7    1997       8     125.2      195.9
8    1997       9     124.5      202.6
9    1997      10     123.5      192.2
10   1997      11     123.7      181.1
11   1997      12     125.2      165.3

## BNM OpenAPI

API WITH record path {'recordpath': [{'xxx':xxx,...}]}

In [ ]:
r=requests.get("https://api.bnm.gov.my/public/exchange-rate", headers={"Accept":"application/vnd.BNM.API.v1+json"})

In [ ]:
payload = r.json()  # Parse `response.text` into JSON

import pprint
pp = pprint.PrettyPrinter(indent=1)
pp.pprint(payload)
print(url)

{'data': [{'currency_code': 'CHF',
           'rate': {'buying_rate': 4.5491,
                    'date': '2022-04-04',
                    'middle_rate': 4.552,
                    'selling_rate': 4.5549},
           'unit': 1},
          {'currency_code': 'CAD',
           'rate': {'buying_rate': 3.3748,
                    'date': '2022-04-04',
                    'middle_rate': 3.3763,
                    'selling_rate': 3.3779},
           'unit': 1},
          {'currency_code': 'BND',
           'rate': {'buying_rate': 3.1075,
                    'date': '2022-04-04',
                    'middle_rate': 3.1098,
                    'selling_rate': 3.1121},
           'unit': 1},
          {'currency_code': 'AUD',
           'rate': {'buying_rate': 3.1678,
                    'date': '2022-04-04',
                    'middle_rate': 3.1703,
                    'selling_rate': 3.1729},
           'unit': 1},
          {'currency_code': 'AED',
           'rate': {'buying_rate': 114.8119,
                    'date': '2022-04-04',
                    'middle_rate': 114.8752,
                    'selling_rate': 114.9385},
           'unit': 100},
          {'currency_code': 'CNY',
           'rate': {'buying_rate': 0.6627,
                    'date': '2022-04-04',
                    'middle_rate': 0.6631,
                    'selling_rate': 0.6634},
           'unit': 1},
          {'currency_code': 'NPR',
           'rate': {'buying_rate': 3.4925,
                    'date': '2022-04-04',
                    'middle_rate': 3.4942,
                    'selling_rate': 3.4959},
           'unit': 100},
          {'currency_code': 'SDR',
           'rate': {'buying_rate': None,
                    'date': '2022-04-04',
                    'middle_rate': 5.8242,
                    'selling_rate': None},
           'unit': 1},
          {'currency_code': 'VND',
           'rate': {'buying_rate': 0.0185,
                    'date': '2022-04-04',
                    'middle_rate': 0.0185,
                    'selling_rate': 0.0185},
           'unit': 100},
          {'currency_code': 'USD',
           'rate': {'buying_rate': 4.2175,
                    'date': '2022-04-04',
                    'middle_rate': 4.2193,
                    'selling_rate': 4.221},
           'unit': 1},
          {'currency_code': 'TWD',
           'rate': {'buying_rate': 14.7259,
                    'date': '2022-04-04',
                    'middle_rate': 14.7346,
                    'selling_rate': 14.7433},
           'unit': 100},
          {'currency_code': 'THB',
           'rate': {'buying_rate': 12.582,
                    'date': '2022-04-04',
                    'middle_rate': 12.5929,
                    'selling_rate': 12.6038},
           'unit': 100},
          {'currency_code': 'SGD',
           'rate': {'buying_rate': 3.1075,
                    'date': '2022-04-04',
                    'middle_rate': 3.1098,
                    'selling_rate': 3.1121},
           'unit': 1},
          {'currency_code': 'SAR',
           'rate': {'buying_rate': 112.4217,
                    'date': '2022-04-04',
                    'middle_rate': 112.4713,
                    'selling_rate': 112.521},
           'unit': 100},
          {'currency_code': 'PKR',
           'rate': {'buying_rate': 2.2797,
                    'date': '2022-04-04',
                    'middle_rate': 2.2875,
                    'selling_rate': 2.2953},
           'unit': 100},
          {'currency_code': 'PHP',
           'rate': {'buying_rate': 8.2116,
                    'date': '2022-04-04',
                    'middle_rate': 8.2167,
                    'selling_rate': 8.2217},
           'unit': 100},
          {'currency_code': 'NZD',
           'rate': {'buying_rate': 2.9215,
                    'date': '2022-04-04',
                    'middle_rate': 2.9235,
                    'selling_rate': 2.9256},
           'unit': 1},
          {'currency_code': 'MMK',
           'rate': {'buying_rate': 0.2383,
                    'date': '2022-04-04',
                    'middle_rate': 0.2384,
                    'selling_rate': 0.2385},
           'unit': 100},
          {'currency_code': 'KRW',
           'rate': {'buying_rate': 0.3472,
                    'date': '2022-04-04',
                    'middle_rate': 0.3474,
                    'selling_rate': 0.3476},
           'unit': 100},
          {'currency_code': 'KHR',
           'rate': {'buying_rate': 0.1031,
                    'date': '2022-04-04',
                    'middle_rate': 0.1038,
                    'selling_rate': 0.1044},
           'unit': 100},
          {'currency_code': 'JPY',
           'rate': {'buying_rate': 3.4389,
                    'date': '2022-04-04',
                    'middle_rate': 3.4408,
                    'selling_rate': 3.4426},
           'unit': 100},
          {'currency_code': 'INR',
           'rate': {'buying_rate': 5.5862,
                    'date': '2022-04-04',
                    'middle_rate': 5.5905,
                    'selling_rate': 5.5949},
           'unit': 100},
          {'currency_code': 'IDR',
           'rate': {'buying_rate': 0.0294,
                    'date': '2022-04-04',
                    'middle_rate': 0.0294,
                    'selling_rate': 0.0294},
           'unit': 100},
          {'currency_code': 'HKD',
           'rate': {'buying_rate': 53.82,
                    'date': '2022-04-04',
                    'middle_rate': 53.8434,
                    'selling_rate': 53.8668},
           'unit': 100},
          {'currency_code': 'GBP',
           'rate': {'buying_rate': 5.5304,
                    'date': '2022-04-04',
                    'middle_rate': 5.5335,
                    'selling_rate': 5.5367},
           'unit': 1},
          {'currency_code': 'EUR',
           'rate': {'buying_rate': 4.6477,
                    'date': '2022-04-04',
                    'middle_rate': 4.6505,
                    'selling_rate': 4.6532},
           'unit': 1},
          {'currency_code': 'EGP',
           'rate': {'buying_rate': 0.2311,
                    'date': '2022-04-04',
                    'middle_rate': 0.2313,
                    'selling_rate': 0.2315},
           'unit': 1}],
 'meta': {'last_updated': '2022-04-04 19:57:01',
          'quote': 'rm',
          'session': '1700',
          'total_result': 27}}
https://api.data.gov.hk/v2/filter?q=%7B%22resource%22%3A%22http%3A%2F%2Fwww.rvd.gov.hk%2Fdoc%2Fen%2Fstatistics%2Fhis_data_12.xls%22%2C%22section%22%3A1%2C%22format%22%3A%22json%22%2C%22filters%22%3A%5B%5B1%2C%22bw%22%2C%5B%221997%22%5D%5D%5D%7D

In [ ]:
pd.json_normalize(payload)

,data,meta.quote,meta.session,meta.last_updated,meta.total_result
0,"[{'currency_code': 'CHF', 'unit': 1, 'rate': {...",rm,1700,2022-04-04 19:57:01,27

In [ ]:
pd.json_normalize(payload,max_level=1)

,data,meta.quote,meta.session,meta.last_updated,meta.total_result
0,"[{'currency_code': 'CHF', 'unit': 1, 'rate': {...",rm,1700,2022-04-04 19:57:01,27

In [ ]:
pd.json_normalize(payload,record_path=['data'])

,currency_code,unit,rate.date,rate.buying_rate,rate.selling_rate,rate.middle_rate
0,CHF,1,2022-04-04,4.5491,4.5549,4.5520
1,CAD,1,2022-04-04,3.3748,3.3779,3.3763
2,BND,1,2022-04-04,3.1075,3.1121,3.1098
3,AUD,1,2022-04-04,3.1678,3.1729,3.1703
4,AED,100,2022-04-04,114.8119,114.9385,114.8752
5,CNY,1,2022-04-04,0.6627,0.6634,0.6631
6,NPR,100,2022-04-04,3.4925,3.4959,3.4942
7,SDR,1,2022-04-04,NaN,NaN,5.8242
8,VND,100,2022-04-04,0.0185,0.0185,0.0185
9,USD,1,2022-04-04,4.2175,4.2210,4.2193
10,TWD,100,2022-04-04,14.7259,14.7433,14.7346
11,THB,100,2022-04-04,12.5820,12.6038,12.5929
12,SGD,1,2022-04-04,3.1075,3.1121,3.1098
13,SAR,100,2022-04-04,112.4217,112.5210,112.4713
14,PKR,100,2022-04-04,2.2797,2.2953,2.2875
15,PHP,100,2022-04-04,8.2116,8.2217,8.2167
16,NZD,1,2022-04-04,2.9215,2.9256,2.9235
17,MMK,100,2022-04-04,0.2383,0.2385,0.2384
18,KRW,100,2022-04-04,0.3472,0.3476,0.3474
19,KHR,100,2022-04-04,0.1031,0.1044,0.1038
20,JPY,100,2022-04-04,3.4389,3.4426,3.4408
21,INR,100,2022-04-04,5.5862,5.5949,5.5905
22,IDR,100,2022-04-04,0.0294,0.0294,0.0294
23,HKD,100,2022-04-04,53.8200,53.8668,53.8434
24,GBP,1,2022-04-04,5.5304,5.5367,5.5335
25,EUR,1,2022-04-04,4.6477,4.6532,4.6505
26,EGP,1,2022-04-04,0.2311,0.2315,0.2313

## API Pollution Malaysia

In [ ]:
r=requests.get("http://apims.doe.gov.my/data/public_v2/CAQM/last24hours.json")

In [ ]:
payload = r.json()  # Parse `response.text` into JSON

import pprint
pp = pprint.PrettyPrinter(indent=1)
pp.pprint(payload)
print(url)

{'24hour_api_apims': [['State',
                       'Location',
                       '10:00PM',
                       '11:00PM',
                       '12:00AM',
                       '1:00AM',
                       '2:00AM',
                       '3:00AM',
                       '4:00AM',
                       '5:00AM',
                       '6:00AM',
                       '7:00AM',
                       '8:00AM',
                       '9:00AM',
                       '10:00AM',
                       '11:00AM',
                       '12:00PM',
                       '1:00PM',
                       '2:00PM',
                       '3:00PM',
                       '4:00PM',
                       '5:00PM',
                       '6:00PM',
                       '7:00PM',
                       '8:00PM',
                       '9:00PM'],
                      ['PERLIS',
                       'Kangar',
                       '38**',
                       '37**',
                       '37**',
                       '37**',
                       '35**',
                       '35**',
                       '33**',
                       '30**',
                       '29**',
                       '27**',
                       '26**',
                       '25**',
                       '23**',
                       '21**',
                       '19**',
                       '20**',
                       '20**',
                       '19**',
                       '20c',
                       '21c',
                       '22c',
                       '23c',
                       '24c',
                       '24c'],
                      ['KEDAH',
                       'Langkawi',
                       '28**',
                       '26**',
                       '26**',
                       '25**',
                       '25**',
                       '23**',
                       '23**',
                       '22**',
                       '21**',
                       '20**',
                       '20**',
                       '18**',
                       '18**',
                       '18**',
                       '17**',
                       '17**',
                       '17**',
                       '17**',
                       '18**',
                       '18**',
                       '18**',
                       '18c',
                       '19c',
                       '19c'],
                      ['KEDAH',
                       'Alor Setar',
                       '37**',
                       '36**',
                       '34**',
                       '34**',
                       '33**',
                       '32**',
                       '32**',
                       '32**',
                       '33**',
                       '33**',
                       '33**',
                       '33**',
                       '33**',
                       '33**',
                       '33**',
                       '32**',
                       '32**',
                       '32**',
                       '32**',
                       '32**',
                       '33**',
                       '33**',
                       '33**',
                       '32**'],
                      ['KEDAH',
                       'Sungai Petani',
                       '53**',
                       '53**',
                       '53**',
                       '52**',
                       '52**',
                       '50**',
                       '51**',
                       '47**',
                       '45**',
                       '47**',
                       '51**',
                       '52**',
                       '52**',
                       '52**',
                       '53**',
                       '53**',
                       '54**',
                       '54**',
                       '54**',
                       '54**',
                       '55**',
                       '54**',
                       '55**',
                       '54**'],
                      ['KEDAH',
                       'Kulim Hi-Tech',
                       '38**',
                       '37**',
                       '36**',
                       '35**',
                       '34**',
                       '34**',
                       '33**',
                       '34**',
                       '32**',
                       '31**',
                       '31**',
                       '29**',
                       '28**',
                       '27**',
                       '28**',
                       '27**',
                       '27**',
                       '28**',
                       '28**',
                       '30**',
                       '31**',
                       '33**',
                       '34**',
                       '34**'],
                      ['PULAU PINANG',
                       'Seberang Jaya',
                       '55**',
                       '55**',
                       '55**',
                       '55**',
                       '55**',
                       '55**',
                       '53**',
                       '53**',
                       '53**',
                       '53**',
                       '52**',
                       '52**',
                       '52**',
                       '50**',
                       '51**',
                       '51**',
                       '61**',
                       '61**',
                       '60**',
                       '60**',
                       '60**',
                       '59**',
                       '60**',
                       '60**'],
                      ['PULAU PINANG',
                       'Seberang Perai',
                       '47**',
                       '48**',
                       '49**',
                       '49**',
                       '47**',
                       '46**',
                       '44**',
                       '42**',
                       '41**',
                       '39**',
                       '39**',
                       '38**',
                       '41**',
                       '39**',
                       '38**',
                       '38**',
                       '38**',
                       '41**',
                       '42**',
                       '42**',
                       '41**',
                       '41**',
                       '41**',
                       '41**'],
                      ['PULAU PINANG',
                       'Minden',
                       '47**',
                       '45**',
                       '48**',
                       '46**',
                       '44**',
                       '43**',
                       '42**',
                       '41**',
                       '41**',
                       '40**',
                       '39**',
                       '39**',
                       '38**',
                       '37**',
                       '36**',
                       '38**',
                       '40**',
                       '41**',
                       '41**',
                       '40**',
                       '38**',
                       '38**',
                       '38**',
                       '37**'],
                      ['PULAU PINANG',
                       'Balik Pulau',
                       '41**',
                       '40**',
                       '39**',
                       '38**',
                       '37**',
                       '37**',
                       '37**',
                       '36**',
                       '36**',
                       '35**',
                       '34**',
                       '34**',
                       '34**',
                       '33**',
                       '31**',
                       '29**',
                       '28**',
                       '27**',
                       '26&',
                       '29c',
                       '31c',
                       '31c',
                       '29c',
                       '26&'],
                      ['PERAK',
                       'Taiping',
                       '39**',
                       '39**',
                       '40**',
                       '40**',
                       '40**',
                       '40**',
                       '40**',
                       '41**',
                       '41**',
                       '42**',
                       '42**',
                       '47**',
                       '52**',
                       '52**',
                       '49**',
                       '48**',
                       '48**',
                       '49**',
                       '48**',
                       '48**',
                       '49**',
                       '50**',
                       '50**',
                       '49**'],
                      ['PERAK',
                       'Tasek Ipoh',
                       '52**',
                       '52**',
                       '52**',
                       '48**',
                       '49**',
                       '49**',
                       '50**',
                       '49**',
                       '47**',
                       '46**',
                       '44**',
                       '45**',
                       '45**',
                       '46**',
                       '46**',
                       '47**',
                       '47**',
                       '47**',
                       '47**',
                       '48**',
                       '45**',
                       '41**',
                       '41**',
                       '44**'],
                      ['PERAK',
                       'Pegoh Ipoh',
                       '48**',
                       '47**',
                       '47**',
                       '46**',
                       '47**',
                       '47**',
                       '47**',
                       '47**',
                       '46**',
                       '46**',
                       '46**',
                       '48**',
                       '51**',
                       '51**',
                       '49**',
                       '49**',
                       '49**',
                       '51**',
                       '51**',
                       '51**',
                       '52**',
                       '52**',
                       '52**',
                       '52**'],
                      ['PERAK',
                       'Seri Manjung',
                       '41**',
                       '40**',
                       '39**',
                       '39**',
                       '38**',
                       '37**',
                       '37**',
                       '36**',
                       '36**',
                       '35**',
                       '35**',
                       '34**',
                       '39**',
                       '41**',
                       '41**',
                       '41**',
                       '42**',
                       '41**',
                       '42**',
                       '43**',
                       '43**',
                       '42**',
                       '42**',
                       '41**'],
                      ['PERAK',
                       'Tanjung Malim',
                       '35**',
                       '34**',
                       '33**',
                       '33**',
                       '33**',
                       '32**',
                       '33**',
                       '32**',
                       '31**',
                       '30**',
                       '31**',
                       '31**',
                       '30**',
                       '30**',
                       '30**',
                       '29**',
                       '28**',
                       '29**',
                       '32**',
                       '33**',
                       '35**',
                       '36**',
                       '37**',
                       '37**'],
                      ['W.P. KUALA LUMPUR',
                       'Batu Muda',
                       '53**',
                       '52**',
                       '52**',
                       '52**',
                       '52**',
                       '52**',
                       '52**',
                       '52**',
                       '52**',
                       '52**',
                       '51**',
                       '52**',
                       '53**',
                       '53**',
                       '53**',
                       '53**',
                       '53**',
                       '54**',
                       '57**',
                       '58**',
                       '58**',
                       '58**',
                       '57**',
                       '58**'],
                      ['W.P. KUALA LUMPUR',
                       'Cheras',
                       '50**',
                       'N/A',
                       '49**',
                       '49**',
                       '48**',
                       '46**',
                       '45**',
                       '44**',
                       '44**',
                       '44**',
                       '45**',
                       '46**',
                       '46**',
                       '46**',
                       '45**',
                       '45**',
                       '46**',
                       '50**',
                       '51**',
                       '52**',
                       '52**',
                       '52**',
                       '52**',
                       '53**'],
                      ['W.P. PUTRAJAYA',
                       'Putrajaya',
                       '48**',
                       '48**',
                       '48**',
                       '47**',
                       '47**',
                       '47**',
                       '46**',
                       '45**',
                       '43**',
                       '41**',
                       '40**',
                       '37**',
                       '36**',
                       '36**',
                       '38**',
                       '38**',
                       '40**',
                       '42**',
                       '44**',
                       '44**',
                       '43**',
                       '43**',
                       '45**',
                       '46**'],
                      ['SELANGOR',
                       'Kuala Selangor',
                       '42**',
                       '41**',
                       '42**',
                       '41**',
                       '43**',
                       '45**',
                       '50**',
                       '53**',
                       '54**',
                       '56**',
                       '57**',
                       '59**',
                       '60**',
                       '60**',
                       '60**',
                       '61**',
                       '61**',
                       '60**',
                       '61**',
                       '61**',
                       '61**',
                       '62**',
                       '61**',
                       '62**'],
                      ['SELANGOR',
                       'Petaling Jaya',
                       '65**',
                       '64**',
                       '64**',
                       '65**',
                       '64**',
                       '64**',
                       '62**',
                       '62**',
                       '62**',
                       '62**',
                       '62**',
                       '62**',
                       '63**',
                       '63**',
                       '63**',
                       '64**',
                       '65**',
                       '66**',
                       '67**',
                       '67**',
                       '66**',
                       '67**',
                       '66**',
                       '65**'],
                      ['SELANGOR',
                       'Shah Alam',
                       '54**',
                       '55**',
                       '56**',
                       '56**',
                       '56**',
                       '56**',
                       '57**',
                       '57**',
                       '57**',
                       '56**',
                       '56**',
                       '56**',
                       '57**',
                       '57**',
                       '57**',
                       '58**',
                       '58**',
                       '58**',
                       '58**',
                       '58**',
                       '58**',
                       '59**',
                       '59**',
                       '59**'],
                      ['SELANGOR',
                       'Klang',
                       '54**',
                       '54**',
                       '54**',
                       '54**',
                       '54**',
                       '53**',
                       '52**',
                       '51**',
                       '50**',
                       '51**',
                       '51**',
                       '52**',
                       '52**',
                       '52**',
                       '53**',
                       '55**',
                       '55**',
                       '55**',
                       '56**',
                       '56**',
                       '56**',
                       '57**',
                       '56**',
                       '55**'],
                      ['SELANGOR',
                       'Banting',
                       '56**',
                       '57**',
                       '57**',
                       '57**',
                       '56**',
                       '56**',
                       '55**',
                       '55**',
                       '55**',
                       '55**',
                       '55**',
                       '56**',
                       '56**',
                       '57**',
                       '58**',
                       '58**',
                       '59**',
                       '60**',
                       '60**',
                       '60**',
                       '60**',
                       '62**',
                       '62**',
                       '62**'],
                      ['NEGERI SEMBILAN',
                       'Nilai',
                       '62**',
                       '61**',
                       '61**',
                       '60**',
                       '60**',
                       '60**',
                       '59**',
                       '59**',
                       '59**',
                       '59**',
                       '59**',
                       '59**',
                       '60**',
                       '60**',
                       '61**',
                       '62**',
                       '62**',
                       '62**',
                       '63**',
                       '63**',
                       '63**',
                       '63**',
                       '62**',
                       '61**'],
                      ['NEGERI SEMBILAN',
                       'Seremban',
                       '73**',
                       '72**',
                       '73**',
                       '74**',
                       '73**',
                       '73**',
                       '73**',
                       '73**',

In [ ]:
pd.json_normalize(payload,record_path=['24hour_api_apims'])

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,State,Location,10:00PM,11:00PM,12:00AM,1:00AM,2:00AM,3:00AM,4:00AM,5:00AM,...,12:00PM,1:00PM,2:00PM,3:00PM,4:00PM,5:00PM,6:00PM,7:00PM,8:00PM,9:00PM
1,PERLIS,Kangar,38**,37**,37**,37**,35**,35**,33**,30**,...,19**,20**,20**,19**,20c,21c,22c,23c,24c,24c
2,KEDAH,Langkawi,28**,26**,26**,25**,25**,23**,23**,22**,...,17**,17**,17**,17**,18**,18**,18**,18c,19c,19c
3,KEDAH,Alor Setar,37**,36**,34**,34**,33**,32**,32**,32**,...,33**,32**,32**,32**,32**,32**,33**,33**,33**,32**
4,KEDAH,Sungai Petani,53**,53**,53**,52**,52**,50**,51**,47**,...,53**,53**,54**,54**,54**,54**,55**,54**,55**,54**
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,SARAWAK,Sibu,28**,N/A,N/A,N/A,N/A,N/A,N/A,N/A,...,N/A,N/A,N/A,N/A,N/A,26**,25**,25**,25**,25**
62,SARAWAK,Sarikei,24**,23**,24**,24**,24**,25**,26**,26**,...,28**,28**,28**,29**,29**,30**,30**,30**,30**,30**
63,SARAWAK,Sri Aman,46**,48**,48**,48**,48**,48**,48**,47**,...,50**,50**,50**,49**,49**,50**,49**,47**,46**,49**
64,SARAWAK,Samarahan,40**,40**,38**,38**,37**,37**,38**,37**,...,41**,40**,40**,41**,39**,39**,38**,37**,35**,35**
65,SARAWAK,Kuching,27**,29**,28**,28**,28**,29**,29**,29**,...,31**,29**,29**,31**,32**,31**,32**,32**,33**,32**

## Check Connection

In [ ]:
r.headers

{'Server': 'nginx', 'Date': 'Mon, 04 Apr 2022 14:31:55 GMT', 'Content-Type': 'application/json', 'Content-Length': '58', 'Connection': 'keep-alive', 'WWW-Authenticate': 'METToken', 'Vary': 'Accept', 'Allow': 'OPTIONS, HEAD, GET', 'X-Frame-Options': 'SAMEORIGIN', 'Access-Control-Allow-Origin': '*'}

In [ ]:
r.headers['Content-Type']

'application/json'

In [ ]:
# Print status code (and associated text)
print(f"Request returned {r.status_code} : '{r.reason}'")

Request returned 401 : 'Unauthorized'