In [1]:
install.packages("openxlsx")
library(openxlsx)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

### Read from https://mysidc.statistics.gov.my/

In [2]:
df = read.xlsx("https://mysidc.statistics.gov.my/indikator/downloadfile.php?ddd=xls|10681",sheet=1)

In [3]:
head(df)

  Year Gross.Capital.Stock.(RM.Million) Net.Capital.Stock.(RM.Million)
1 2000 1200298                           764499.0
2 2001 1275723                           801402.6
3 2002 1338315                           835096.8
4 2003 1462813                           910528.7
5 2004 1535403                           952903.9
6 2005 1660826                          1072947.0
  Productive.Capital.Stock.(RM.Million)
1  989509.6
2 1043925.7
3 1091229.1
4 1192572.8
5 1250092.7
6 1369050.0

In [4]:
str(df)

'data.frame':	21 obs. of  4 variables:
 $ Year                                 : chr  "2000" "2001" "2002" "2003" ...
 $ Gross.Capital.Stock.(RM.Million)     : num  1200298 1275723 1338315 1462813 1535403 ...
 $ Net.Capital.Stock.(RM.Million)       : num  764499 801403 835097 910529 952904 ...
 $ Productive.Capital.Stock.(RM.Million): num  989510 1043926 1091229 1192573 1250093 ...

### Read from openDOSM URL

In [5]:
data = read.xlsx('https://docs.google.com/spreadsheets/d/1Iq1CL5LB_0DRO2L44cteOqmWwLthT9nk/export?format=xlsx')
head(data)

  Price.type      Base.Year Year GDP.(RM.Million) GNI.(RM.Million)
1 Constant Prices 1970      1970 11829            11644
2 Constant Prices 1970      1971 13016            12667
3 Constant Prices 1970      1972 14238            13903
4 Constant Prices 1970      1973 15904            15365
5 Constant Prices 1970      1974 17227            16545
6 Constant Prices 1970      1975 17365            16918
  GDP.per.capita.(RM) GNI.per.capita.(RM)
1 1087                1070
2 1166                1135
3 1244                1215
4 1357                1311
5 1435                1379
6 1412                1375

In [6]:
table = read.xlsx('https://docs.google.com/spreadsheets/d/1O0-JlHoDgxFO7otUAt9dGwiHiVImR7Fs/export?format=xlsx')
head(table)

  KDNK.DAN.PNK.PADA.HARGA.MALAR,.1970.–.2019,.MALAYSIA X2
1 GDP and GNI at Constant Prices, 1970 –2019, Malaysia NA
2 Tahun                                                KDNK
3 Year                                                 GDP
4 NA                                                   NA
5 NA                                                   NA
6 NA                                                   RM (Juta/ Million)
  X3                 X4         X5
1 NA                 NA         NA
2 PNK                KDNK       PNK
3 GNI                per kapita per kapita
4 NA                 GDP        GNI
5 NA                 per capita per capita
6 RM (Juta/ Million) RM         RM
  KDNK.DAN.PNK.PADA.HARGA.MALAR,.1970.–.2019,.MALAYSIA.(samb.)
1 GDP and GNI at Constant Prices, 1970 –2019, Malaysia (cont’d)
2 Tahun
3 Year
4 NA
5 NA
6 NA
  X7                  X8                 X9         X10
1 NA                  NA                 NA         NA
2 KDNK                PNK                KDNK       PNK
3 GDP                 GNI                per kapita per kapita
4 NA                  NA                 GDP        GNI
5 NA                  NA                 per capita per capita
6 RM (Juta/ Million)  RM (Juta/ Million) RM         RM
  KDNK.DAN.PNK.PADA.HARGA.MALAR,.1970.–.2019,.MALAYSIA.(samb.)
1 GDP and GNI at Constant Prices, 1970 –2019, Malaysia (cont’d)
2 Tahun
3 Year
4 NA
5 NA
6 NA
  X12                 X13                X14        X15
1 NA                  NA                 NA         NA
2 KDNK                PNK                KDNK       PNK
3 GDP                 GNI                per kapita per kapita
4 NA                  NA                 GDP        GNI
5 NA                  NA                 per capita per capita
6 RM (Juta/ Million)  RM (Juta/ Million) RM         RM